.place__like{
    width: 21px;
    border: none;
    background-image: url(../../../images/like.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.place__like:hover{
    opacity: 0.6;
    transition: 0.5s ease;
    cursor: pointer;
}