.popup__input-error{
    display: flex;
    opacity: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-left: 36px;
    height: 15px;
    }

@media (max-width: 500px){
    .popup__input-error{
        margin-left: 20px;
        }
    }