@import url(./__logo/header__logo.css);
.header{
    max-width: 882px;
    width: calc(100vw - 199px * 2);
    padding-top: 45px;
    margin: 0 auto 36px;
    border-bottom: 1px solid rgba(042, 044, 047, 0.7);
    padding-bottom: 41px;
}
@media (max-width: 1180px) {
    .header{
        width: calc(100vw - 100px * 2);
    }
}
@media (max-width: 1024px) {
    .header{
        width: calc(100vw - 19px * 2);
    }
}