.popup__name{
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #000000;
    margin: 34px 64px 54px 36px;
}
@media (max-width: 500px){
    .popup__name{
        font-size: 1rem;
        margin: 34px 20px 54px 20px;
    }
}